fastapi
mangum

python-multipart
python-dotenv

pydantic
pydantic[email]
pydantic-settings

sqlalchemy
alembic
psycopg[binary]

python-jose
passlib[bcrypt]

boto3
reportlab

# ---- AWS Lambda compatible ML stack ----
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.3.2
